* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
  }
  
  .span1{
    background-color: #009688;
    height: 30vh;
    width: 100%;
    display:flex;
   }
   .span2{
    background-color:#d9dbd5;
    height:200vh;
    width:100%;
   }

   
.span1 img{
  height: 40px;
  border-radius: 20px;
}

  .span1 .head_p{
    position: absolute;
    top: 40px;
    left: 220px;
  }

   .container{
    position: absolute;
    top: 100PX;
    left: 240px;
    box-shadow: 3px 3px 12px 0px black;
    background-color: white;
  }

  .leftcontainer{
    display: flex;
    /* width: 70vh; */
  }

 
  .text h2{
    margin: 20px 0px 20px 20px ;
 color: darkgray;
 font-family:'Times New Roman', Times, serif;
  }

  .li1{
    margin: 60px 0px 0px 60px ;
  }
  .li2 ,.li3,.li4{
    margin: 20px 0px 0px 60px ;
  }
  .hr1{
    margin: 58px 0px 30px 20px;
  }

  .hr2{
    margin: 0px 10px 0px 0px;

  }

  img{
    margin: 30px 10px 0px 170px;
  }

  .linkphone{
    text-decoration: none;
    margin: 0px 0px 0px 60px ;
    color:#009688;
  }

  .linkphone:hover{
    /* color: black; */
    text-shadow: 2px 2px 12px  #009688;
  }


  .rightcontainer{
    height: 100vh;
    background-color:#e7e9e5;
    align-items: center;
  }

  .h3{
  position: absolute;
  left :350px;
  top: 450px;
  z-index: 2;
  }

  .need{
    position: absolute;
  left :332px;
  top: 500px;
  z-index: 2;
    color:#009688;
  }


  .video{
    position: absolute;
    left :-15px;
    top: 580px;
    z-index: 2;
  }


  @media screen {
      

  }